.form-post {
    margin-bottom: 5rem;
}

.form-group {
    margin-top: 1.5rem;
}

.post {
    float: right;
    margin-top: 1.5rem;
    padding: 0.8rem 2.5rem;
    background-color: #000000;
    color: #ffffff;
}