.btn-delete {
    padding: 0.3rem 1.3rem;
    background-color: #000000;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #000;
}

.btn-delete:hover {
    background-color: #fff;
    color: #000;
}

.comment-content {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.avt-comment {
    cursor: pointer;
}