<div class="comment-template border-top">
    <h4 class="template-title">{{commentList.length}} Comments</h4>

    <ul class="comment-list">
        <li *ngFor="let comment of commentList">
            <div class="comment-body">
                <div class="comment-author">
                    <img [src]="comment.author.image" alt="avt-comment" class="avt-comment">
                </div>
                <div class="comment">
                    <a class="comment-author" [routerLink]="'/profile/' + comment.author.username">{{comment.author.username}}</a>
                    <div class="comment-content">
                        <p>{{comment.body}}</p>
                        <button class="btn-delete" (click)="deleteComment(comment._id)">delete</button>
                    </div>
                    <div class="comment-footer">
                        <span class="date"> {{comment.createdAt | date:'mediumDate'}}</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <h4 class="template-title">Leave your comment</h4>
    <div class="comment-form">
        <div>
            <div class="row">
                <div class="col-12">
                    <textarea [(ngModel)]="comment" placeholder="Your message here">
                        </textarea>
                </div>
                <div class="col-12">
                    <button (click)="createComment()">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>