.comment-content {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.avt-comment {
    cursor: pointer;
}

mat-icon {
    cursor: pointer;
    color: #288bdb;
}