.btn-delete {
    font-size: 9px;
    font-weight: 700;
    padding: 4px 10px;
    background-color: #ffffff;
    border: 3px solid #28242f;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #000;
    color: #ffffff;
}