<div class="comment-template">
    <h4 class="template-title">{{commentList.length}} Comments</h4>

    <ul class="comment-list">
        <li *ngFor="let comment of commentList">
            <div class="comment-body">
                <div class="comment-author">
                    <img [src]="comment.author.image" alt="">
                </div>
                <div class="comment-content">
                    <h6 class="comment-author">{{comment.author.username}}</h6>
                    <p>
                        {{comment.body}}
                        <button (click)="deleteComment(comment._id)">delete</button>
                    </p>
                    <div class="comment-footer">
                        <span class="date"> {{comment.createdAt | date:'mediumDate' }}</span>
                    </div>
                </div>
            </div>
        </li>

    </ul>

    <h4 class="template-title">Leave your comment</h4>
    <div class="comment-form">
        <div>
            <div class="row">
                <div class="col-12">
                    <textarea [(ngModel)]="comment" placeholder="Your message here">
                        </textarea>
                </div>
                <div class="col-12">
                    <button (click)="createComment()">Post <i class="far fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>