<section class="post-details-area">
    <div class="container container-1000">
        <div class="post-details" *ngIf="currentArticle">
            <div class="entry-header">
                <h2 class="title">{{currentArticle.article.title}}</h2>
                <ul class="post-meta">
                    <li>{{currentArticle.article.createdAt | date:'mediumDate'}}</li>
                    <li><a href="#">Design,</a><a href="#">Travel,</a><a href="#">photography</a></li>
                </ul>
                <p class="short-desc">
                    {{currentArticle.article.description}}
                </p>
            </div>

            <div class="entry-content">
                <p class="has-dropcap" [innerHTML]="currentArticle.article.body">

                </p>

            </div>
            <div class="entry-footer border-top">
                <div class="post-author">
                    <div class="author-img">
                        <img src="assets/images/posts/author.png" alt="PostAuthor">
                    </div>
                    <h5><a href="#">Maisha Smith</a></h5>
                    <p>Article Writer, Senior Designer, Wordpress Developer Father of 2 Daughters</p>
                </div>
            </div>
            <!-- <div class="related-posts border-top">
                <h4 class="related-title">Related Posts</h4>
                <div class="related-loop row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="related-post-box">
                            <div class="thumb">
                                <img src="assets/images/posts/1.png" alt="image">
                            </div>
                            <h5 class="title">
                                <a href="#">
                                    The Olivier da Costa restaurant experience in Lisbon
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="related-post-box">
                            <div class="thumb">
                                <img src="assets/images/posts/1.png" alt="image">
                            </div>
                            <h5 class="title">
                                <a href="#">
                                    The Olivier da Costa restaurant experience in Lisbon
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <app-blog-comment></app-blog-comment>

    </div>
</section>