@import 'colors';
@import 'breakpoints';

/*======= Post Details =======*/

.post-details-area {
    padding-top: 120px;
    padding-bottom: 120px;
}

.post-details {
    .entry-header {
        margin-bottom: 60px;
        text-align: center;
        .title {
            font-size: 48px;
            font-family: $rob_s;
            font-weight: 700;
            line-height: 1.556;
            margin-bottom: 60px;
            @include respond-below(lg) {
                font-size: 38px;
            }
            @include respond-below(md) {
                font-size: 32px;
            }
            @include respond-below(sm) {
                font-size: 28px;
            }
            @include respond-below(xs) {
                font-size: 24px;
            }
        }
        .short-desc {
            font-weight: 500;
            padding: 0 80px;
            font-size: 16px;
            line-height: 1.6;
            @include respond-below(md) {
                padding: 0 30px;
            }
            @include respond-below(sm) {
                padding: 0;
            }
        }
    }
    .entry-content {
        padding: 60px 80px;
        font-size: 16px;
        line-height: 1.6;
        @include respond-below(md) {
            padding: 60px 30px;
        }
        @include respond-below(xs) {
            padding: 40px 15px;
        }
        .has-dropcap:first-letter {
            font-size: 48px;
            line-height: 1;
        }
        p:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.author {
    margin-top: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.author .info .caption {
    color: #8a8a8a;
}

.info {
    padding-left: 1.5rem;
    .name {
        font-size: 22px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.avt-article {
    border-radius: 50%;
    cursor: pointer;
}

.info-top {
    display: flex;
    justify-content: space-between;
}

mat-icon {
    color: red;
}

.favorite>button {
    background-color: #fff;
}