<section class="post-details-area">
    <div class="container container-1000">
        <div class="post-details" *ngIf="currentArticle">
            <div class="entry-header">
                <h2 class="title">{{currentArticle.title}} </h2>
                <p class="short-desc">
                    {{currentArticle.description}}
                </p>
            </div>
            <div class="entry-content">
                <p class="has-dropcap" [innerHTML]="currentArticle.body">
                </p>
            </div>
            <div class="author border-top">
                <div class="profile" *ngIf="currentArticle">
                    <img [src]="currentArticle.author.image" alt="avt-article" class="avt-article">
                </div>
                <div class="info">
                    <div class="info-top">
                        <a class="name" (click)="navigateToF5(currentArticle.author.username)">
                            {{currentArticle.author.username}}
                        </a>
                        <div class="favorite">
                            <button mat-icon-button color="primary" (click)="unfavorite()">
                                <mat-icon *ngIf="isFavorited">favorite</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="favorite()">
                                <mat-icon *ngIf="!isFavorited">favorite_border</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="date">Published on {{currentArticle.createdAt | date:'mediumDate'}} </div>
                    <div class="date">Likes: {{currentArticle.favoritesCount}} </div>
                </div>
            </div>
        </div>
        <app-blog-comment [slug]="slug"> </app-blog-comment>
    </div>
</section>