<section class="shopping-login-page">
    <div class="container">
        <div class="login-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-6 m-auto">
                    <div class="reg-box">
                        <div class="form-title">
                            <h3 style="font-weight: 600;">Register</h3>
                            <p>I'm a new customer and would like to register.</p>
                        </div>
                        <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email address<span class="required">*</span></label>
                                <input type="text" id="email" class="form-control" placeholder="Enter your email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" autocomplete="off">
                                <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                    <div *ngIf="fval.email.errors.required">Email is required</div>
                                    <div *ngIf="fval.email.errors.email">Email is invalid</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">User Name<span class="required">*</span></label>
                                <input type="text" id="username" formControlName="username" placeholder="Enter your username" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && fval.username.errors }">
                                <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
                                    <div *ngIf="fval.username.errors.required">Username is required</div>
                                    <div *ngIf="fval.username.errors.minlength">
                                        Username must be at least 6 characters
                                    </div>
                                    <div *ngIf="fval.username.errors.maxlength">
                                        Username must not exceed 20 characters
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password<span class="required">*</span></label>
                                <input type="password" id="password" placeholder="********" formControlName="password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" autocomplete="off">
                                <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                                    <div *ngIf="fval.password.errors.required">Password is required</div>
                                    <div *ngIf="fval.password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                    <div *ngIf="fval.password.errors.maxlength">
                                        Username must not exceed 40 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-btn"> Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>