<div class="container">
    <h4 class="title">01 Liked Articles</h4>
</div>
<div class="card-container">
    <div class="card">
        <header class="article-header">
            <div>
                <div class="category-title">
                    CreatedAt:
                    <span class="date">CreatedAt: Dec 20, 2021</span>
                </div>
            </div>
            <h2 class="article-title">
                Báo Indonesia: ‘Chỉ Việt Nam ngăn chúng ta ghi bàn’
            </h2>
            <p class="aritcle-description">Báo CNN bản tiếng Indonesia tự hào với thành tích ghi 13 bàn sau bốn trận vòng bảng của đội nhà, nhiều nhất trong các đội tuyển dự AFF Cup 2020. </p>
            <a class="read-more">
                Read More
            </a>
        </header>
        <div class="author">
            <div class="profile">
                <img src="../../../../assets/images/logo.png" alt="avt-article" class="avt-article" (click)="router.navigate(['/profile'])">
            </div>
            <div class="info">
                <div class="info-top">
                    <div class="caption">Author</div>
                    <div>
                        <mat-icon>favorite</mat-icon>
                        <!-- <mat-icon>favorite_border</mat-icon> -->
                    </div>
                </div>
                <div class="name" (click)="router.navigate(['/profile'])">David</div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="article-header">
            <div>
                <div class="category-title">
                    CreatedAt:
                    <span class="date">CreatedAt: Dec 20, 2021</span>
                </div>
            </div>
            <h2 class="article-title">
                Báo Indonesia: ‘Chỉ Việt Nam ngăn chúng ta ghi bàn’
            </h2>
            <p class="aritcle-description">Báo CNN bản tiếng Indonesia tự hào với thành tích ghi 13 bàn sau bốn trận vòng bảng của đội nhà, nhiều nhất trong các đội tuyển dự AFF Cup 2020. </p>
            <a class="read-more">
                Read More
            </a>
        </header>
        <div class="author">
            <div class="profile">
                <img src="../../../../assets/images/logo.png" alt="avt-article" class="avt-article" (click)="router.navigate(['/profile'])">
            </div>
            <div class="info">
                <div class="info-top">
                    <div class="caption">Author</div>
                    <div>
                        <mat-icon>favorite</mat-icon>
                        <!-- <mat-icon>favorite_border</mat-icon> -->
                    </div>
                </div>
                <div class="name" (click)="router.navigate(['/profile'])">David</div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="article-header">
            <div>
                <div class="category-title">
                    CreatedAt:
                    <span class="date">CreatedAt: Dec 20, 2021</span>
                </div>
            </div>
            <h2 class="article-title">
                Báo Indonesia: ‘Chỉ Việt Nam ngăn chúng ta ghi bàn’
            </h2>
            <p class="aritcle-description">Báo CNN bản tiếng Indonesia tự hào với thành tích ghi 13 bàn sau bốn trận vòng bảng của đội nhà, nhiều nhất trong các đội tuyển dự AFF Cup 2020. </p>
            <a class="read-more">
                Read More
            </a>
        </header>
        <div class="author">
            <div class="profile">
                <img src="../../../../assets/images/logo.png" alt="avt-article" class="avt-article" (click)="router.navigate(['/profile'])">
            </div>
            <div class="info">
                <div class="info-top">
                    <div class="caption">Author</div>
                    <div>
                        <mat-icon>favorite</mat-icon>
                        <!-- <mat-icon>favorite_border</mat-icon> -->
                    </div>
                </div>
                <div class="name" (click)="router.navigate(['/profile'])">David</div>
            </div>
        </div>
    </div>
</div>