<div class="container">
    <h4 class="title">{{numberOfArticles}} Articles</h4>
</div>
<div class="card-container">
    <div class="card" *ngFor="let article of articles">
        <header class="article-header">
            <div>
                <div class="category-title">
                    <span class="date">{{article.createdAt | date:'mediumDate'}}</span>
                </div>
            </div>
            <h2 class="article-title">
                {{article.title}}
            </h2>
            <p class="aritcle-description">{{article.description}}</p>
            <a class="read-more" [routerLink]="'/blog/' + article.slug">
                Read More
            </a>
        </header>
        <div class="author">
            <div class="profile">
                <img src="{{article.author.image}}" alt="avt-article" class="avt-article" (click)="router.navigate(['/profile'])">
            </div>
            <div class="info">
                <div class="info-top">
                    <div class="caption">Author</div>
                    <div>
                        <mat-icon>favorite</mat-icon>
                        <!-- <mat-icon>favorite_border</mat-icon> -->
                    </div>
                </div>
                <div class="name" (click)="router.navigate(['/profile'])">{{article.author.username}}</div>
            </div>
        </div>
    </div>
</div>