<section class="shopping-login-page">
    <div class="container">
        <div class="login-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-6 m-auto">
                    <div class="login-box">
                        <div class="form-title">
                            <h3>Login</h3>
                            <p>I'm an existing customer and would like to login.</p>
                        </div>
                        <form class="login-form">
                            <p>
                                <label for="username">Email<span class="required">*</span></label>
                                <input type="text" id="username" placeholder="Enter your email">
                            </p>
                            <p>
                                <label for="password">Password<span class="required">*</span></label>
                                <input type="password" id="password" placeholder="********">
                            </p>
                            <p class="text-center">
                                <button type="submit" class="form-btn" onclick="onLogin()">Login</button>
                            </p>
                        </form>
                        <div>
                            Don't have an account.
                            <a [routerLink]="['/register']" style="font-weight: 600">Register</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>