<header class="sticky-header" *ngIf="!user">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="site-logo">
                <img src="/assets/images/logo.png" alt="Genial" (click)="router.navigate([''])">
            </div>
            <div>
                <button class="post" (click)="router.navigate(['/login'])">Login</button>
            </div>
        </div>
    </div>
</header>


<header class="sticky-header" *ngIf="user">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="site-logo">
                <img src="/assets/images/logo.png" alt="Genial" (click)="router.navigate([''])">
            </div>
            <div>
                <button class="post my-post" (click)="router.navigate(['/mypost'])">My Post</button>
                <button class="post" (click)="goToPost()">Post</button>
                <button mat-button class="center" [matMenuTriggerFor]="menu">
                    <img [src]="user.image"
                        alt=""
                        class="avt">
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="router.navigate(['/profile'])">Profile</button>
                    <button mat-menu-item (click)="signout()" class="signout">Sign Out</button>
                </mat-menu>
            </div>

        </div>
    </div>
</header>