@import 'colors';
@import 'breakpoints';

/*======= Header =======*/

header {
    padding: 35px 0;
    .header-right {
        display: flex;
        align-items: center;
        &>div {
            line-height: 1;
        }
    }
    .search-btn,
    .shoping-cart-btn,
    .offcanvas-btn {
        margin-left: 15px;
        line-height: 1;
        padding: 5px;
        @include respond-below(xs) {
            margin-left: 10px;
        }
    }
    &.sticky-header {
        &.sticky-on {
            .offcanvas-panel {
                .panel-btn {
                    padding-left: 25px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-left: 20px;
                    @include respond-below(xs) {
                        padding-left: 10px;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 10px;
                        background-color: #a0a0a0;
                        @include respond-below(xs) {
                            display: none;
                        }
                    }
                    span {
                        span {
                            background-color: $black;
                            height: 3px;
                            border-radius: 5px;
                            width: 24px;
                            display: block;
                            margin: 2px 0 2px auto;
                            &:nth-child(2) {
                                width: 16px;
                            }
                            &:nth-child(3) {
                                width: 18px;
                            }
                        }
                    }
                }
            }
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            z-index: 90;
            animation: sticky 1.2s;
            background-color: $white;
            padding: 25px 0;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
        }
    }
}

.site-logo {
    cursor: pointer;
}

.avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post {
    padding: 0.8rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000;
    margin-right: 1rem;
}

.post:hover {
    background-color: #fff;
    color: #000;
}

.right-bar {
    display: flex;
}

.search {
    margin-right: 1rem;
    .search-form {
        display: flex;
    }
    .in-search {
        height: 50px;
    }
    .btn-search {
        padding: 0.8rem 2rem;
        background-color: #000000;
        color: #ffffff;
    }
}