@import 'colors';
@import 'breakpoints';

/*======= Header =======*/

header {
    padding: 35px 0;
    .header-right {
        display: flex;
        align-items: center;
        &>div {
            line-height: 1;
        }
    }
    &.sticky-header {
        &.sticky-on {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            z-index: 90;
            animation: sticky 1.2s;
            background-color: $white;
            padding: 25px 0;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
        }
    }
}

.site-logo {
    cursor: pointer;
}

.avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post {
    padding: 0.8rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000;
    margin-right: 1rem;
}

.post:hover {
    background-color: #fff;
    color: #000;
}

.right-bar {
    display: flex;
}

.search {
    margin-right: 1rem;
    .search-form {
        display: flex;
    }
    .in-search {
        height: 50px;
    }
    .btn-search {
        padding: 0.8rem 2rem;
        background-color: #000000;
        color: #ffffff;
    }
}