<header class="sticky-header" *ngIf="!user">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="site-logo">
                <img src="/assets/images/logo.png" alt="Genial" (click)="router.navigate([''])">
            </div>

            <div class="right-bar">
                <div class="search">
                    <form class="search-form">
                        <input [(ngModel)]="searchInput" type="text" placeholder="Search.." name="search" class="in-search">
                        <button type="submit" class="btn-search" (click)="search()" >Search</button>
                    </form>
                </div>
                <button class="post" (click)="router.navigate(['/login'])">Login</button>
            </div>
        </div>
    </div>
</header>


<header class="sticky-header" *ngIf="user">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="site-logo">
                <img src="/assets/images/logo.png" alt="Genial" (click)="router.navigate([''])">
            </div>
            <div class="right-bar">
                <div class="search">
                    <form class="search-form">
                        <input type="text" placeholder="Search.." name="search" class="in-search" [(ngModel)]="searchInput">
                        <button type="submit" class="btn-search" (click)="search()">Search</button>
                    </form>
                </div>
                <div>
                    <button class="post my-post" (click)="router.navigate(['/mypost'])">My Post</button>
                </div>
                <div>
                    <button class="post my-post" (click)="router.navigate(['/likedarticles'])">Liked Articles</button>
                </div>
                <div>
                    <button class="post" (click)="goToPost()">New Post</button>
                </div>
                <div>
                    <button class="avt-login" [matMenuTriggerFor]="menu">
                        <img [src]="user.image"
                            alt=""
                            class="avt">
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="router.navigate(['/profile'])">Profile</button>
                        <button mat-menu-item (click)="signout()" class="signout">Sign Out</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</header>