@import 'colors';
@import 'breakpoints';
.post-area {
    position: relative;
    margin-top: 80px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    &.with-sidebar {
        .post-area-inner {
            display: grid;
            grid-template-columns: 1fr minmax(300px, 300px);
            grid-gap: 150px;
            position: relative;
            @media (max-width: 1400px) {
                grid-gap: 100px;
            }
            @include respond-below(md) {
                display: block;
            }
        }
    }
}

.entry-posts {
    .entry-post {
        padding: 1rem 1rem;
        border: 1px solid #d2d2cc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        @include respond-below(lg) {
            margin-bottom: 50px;
        }
        @include respond-below(xs) {
            margin-bottom: 40px;
        }
        .entry-thumbnail {
            margin-bottom: 40px;
        }
        .entry-content {
            padding-right: 30px;
        }
        .title {
            margin-top: 10px;
            font-size: 25px;
            line-height: 1.5;
            font-weight: 800;
            @media (max-width: 1600px) {
                font-size: 20px;
            }
        }
        .description {
            white-space: nowrap;
            width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .read-more {
            font-size: 14px;
            font-family: $rob_s;
            font-weight: 700;
            line-height: 1;
            margin-top: 15px;
            i {
                margin-left: 10px;
                position: relative;
            }
            &:hover {
                opacity: 0.8;
                padding-left: 8px;
            }
        }
    }
}

.popular-img {
    padding-top: 10px;
}

.avt-article {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.top-article {
    display: flex;
    align-items: center;
    p {
        font-weight: 600;
        margin-left: 10px;
    }
}

mat-icon {
    color: #fd3a28;
}

.image-boxes-area {
    margin-top: 3rem;
}

.article-username {
    margin-left: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.swiper {
    height: 380px;
}

.bottom-card {
    display: flex;
    justify-content: space-between;
    .tym {
        display: flex;
        p {
            font-weight: 600;
        }
        mat-icon {
            width: 15px;
            height: 15px;
            padding-right: 35px;
        }
    }
}